* {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 16px;
    font-family: verdana
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

.title {
    font-size: 19px;
    line-height: 40px;
    text-align: center
}

.wrapper {
    max-width: 960px;
    padding: 10px;
    margin: 0 auto;
    background-color: #eee;
    background: red;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(red), color-stop(100%, #0f0));
    background: -moz-linear-gradient(top, red, #0f0 100%);
    background: -o-linear-gradient(top, red, #0f0 100%);
    background: linear-gradient(top, red, #0f0 100%)
}

.wrapper ul {
    display: inline-block
}

.wrapper .menu {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    border: 1px solid gray;
    background-color: #1ec7d6;
    cursor: pointer;
    list-style: none
}

.wrapper .menu a {
    text-decoration: none;
    color: #050a78
}

/*тестовая ветка*/
